*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    font-size: 30px;
    padding-top: 20%;
}
button{
    padding: 10px;
    background-color: transparent;
}